.about-section {
    padding: 120px 20px 50px 20px; /* Adjusted top padding to push content down */
    background-color: #1e272e;
    color: white;
}

.about-section h2 {
    text-align: center;
    font-size: 2.5em;
    color: #ff4c4c;
    margin-bottom: 50px;
    margin-top: 0px;
    position: relative;
}

.about-section h2::before,
.about-section h2::after {
    content: '';
    position: absolute;
    top: 50%;
    width: 37%;
    height: 1px;
    background-color: #ff4c4c;
}

.about-section h2::before {
    left: 0;
}

.about-section h2::after {
    right: 0;
}

/* Shrink or remove horizontal lines on smaller screens */
@media (max-width: 992px) {
    .about-section h2::before,
    .about-section h2::after {
        width: 32%; /* Shrink the line length */
    }
}

@media (max-width: 768px) {
    .about-section h2::before,
    .about-section h2::after {
        display: none; /* Remove lines completely on small screens */
    }
}

.about-content {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    max-width: 1200px;
    margin: 40px auto;
}

.about-gallery {
    position: relative;
    width: 400px;
    height: 500px;
    overflow: hidden;
    margin: 0 auto;
}

.about-gallery img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
    transition: opacity 0.5s ease-in-out;
}

.fade-in {
    opacity: 1;
}

.fade-out {
    opacity: 0;
}

.gallery-arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    border: none;
    color: white;
    font-size: 2em;
    padding: 10px;
    cursor: pointer;
    z-index: 1;
}

.left-arrow {
    left: 5px;
}

.right-arrow {
    right: 5px;
}

.image-indicators {
    position: absolute;
    bottom: 10px;
    display: flex;
    justify-content: center;
    width: 100%;
    z-index: 1;
}

.indicator {
    width: 10px;
    height: 10px;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 50%;
    margin: 0 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.indicator.active {
    background-color: #ff4c4c;
}

.about-text {
    flex: 1;
    max-width: 55%;
    padding-left: 20px;
    text-align: justify;
}

.about-text p {
    font-size: 1.2em;
    margin-bottom: 20px;
}

@media (max-width: 768px) {
    .about-content {
        flex-direction: column;
        align-items: center;
    }

    .about-gallery {
        width: 200px;
        height: 300px;
        margin-bottom: 20px;
    }

    .about-text {
        max-width: 100%;
        padding-left: 0;
        text-align: center;
    }
}
