/* Ensure proper box-sizing */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Set body and html to have no overflow */
html, body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    width: 100%;
    background-color: #1e272e; /* Match this color with your website's background */
    color: white; /* Ensure text is readable if it overlaps */
}

/* Ensure main container does not overflow */
.main-container {
    max-width: 100%;
    overflow-x: hidden;
}

/* Ensure sections do not overflow */
section {
    max-width: 100%;
    overflow-x: hidden;
    padding: 0 20px;
}

.App {
    text-align: center;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
